<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="USBCDC.Terminal.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="USBCDCTerminal.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
  <USBCDC.Terminal.Settings1>
   <setting name="SalvarLog" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bImprimeData" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bImprimeHora" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bImprimeMilisegundos" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bRbtn" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="bRbtr" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bRbt0" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bRbtDecimal" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="strFinalizador" serializeAs="String">
    <value>"0"</value>
   </setting>
   <setting name="bRbt16Char" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bRbtRecAscii" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="bRbtRecHexadecimal" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PortaSerial" serializeAs="String">
    <value>COM1</value>
   </setting>
   <setting name="BaudRate" serializeAs="String">
    <value>38400</value>
   </setting>
   <setting name="bRbt32Char" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bQuebrarLinha" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ArquivoListaComando" serializeAs="String">
    <value>@"ListaComandos.txt"</value>
   </setting>
   <setting name="brbtEnvAscii" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="brbtEnvHexadecimal" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="bchkEnvLogar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="bchkRecLogar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="fontTextos" serializeAs="String">
    <value>Courier New, 8.25pt</value>
   </setting>
   <setting name="colorTextos" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="bEnvioAuto" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnvioAutoTempo" serializeAs="String">
    <value>1800</value>
   </setting>
   <setting name="strDadosEnviar" serializeAs="String">
    <value />
   </setting>
   <setting name="NumSerieSeq" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NumSerieDayMachine" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="HwVersionMajor" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="HwVersionMinor" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="PL2303_VID" serializeAs="String">
    <value>1659</value>
   </setting>
   <setting name="PL2303_PID" serializeAs="String">
    <value>8963</value>
   </setting>
   <setting name="USERDEFINED_CDC_PID" serializeAs="String">
    <value>24577</value>
   </setting>
   <setting name="USERDEFINED_CDC_VID" serializeAs="String">
    <value>1027</value>
   </setting>
   <setting name="usbCDCdeviceLast" serializeAs="String">
    <value>PL2303</value>
   </setting>
   <setting name="FT232_FT245_VID" serializeAs="String">
    <value>1027</value>
   </setting>
   <setting name="FT232_FT245_PID" serializeAs="String">
    <value>24577</value>
   </setting>
   <setting name="PL2303G_PID" serializeAs="String">
    <value>9123</value>
   </setting>
   <setting name="PL2303G_VID" serializeAs="String">
    <value>1659</value>
   </setting>
   <setting name="FT2232_VID" serializeAs="String">
    <value>1027</value>
   </setting>
   <setting name="FT2232_PID" serializeAs="String">
    <value>24592</value>
   </setting>
   <setting name="FT4232_VID" serializeAs="String">
    <value>1027</value>
   </setting>
   <setting name="FT4232_PID" serializeAs="String">
    <value>24593</value>
   </setting>
   <setting name="CH340_VID" serializeAs="String">
    <value>6790</value>
   </setting>
   <setting name="CH340_PID" serializeAs="String">
    <value>29987</value>
   </setting>
   <setting name="usbCDCdevice" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>CH340</string>
      <string>CP210X</string>
      <string>FT232/FT245</string>
      <string>FT2232</string>
      <string>FT4232</string>
      <string>PL2303</string>
      <string>PL2303G</string>
      <string>USERDEFINED</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="CP210X_VID" serializeAs="String">
    <value>4292</value>
   </setting>
   <setting name="CP210X_PID" serializeAs="String">
    <value>60000</value>
   </setting>
  </USBCDC.Terminal.Settings1>
 </userSettings>
</configuration>
